In [1]:
import numpy as np
import pandas as pd
import re
import string
import warnings
warnings.filterwarnings('ignore')

In [2]:
Data = pd.read_csv("C:/Users/david/OneDrive/Desktop/combined_data.csv/combined_data.csv")

In [3]:
Data.head()

   label                                               text
0      1  ounce feather bowl hummingbird opec moment ala...
1      1  wulvob get your medircations online qnb ikud v...
2      0   computer connection from cnn com wednesday es...
3      1  university degree obtain a prosperous future m...
4      0  thanks for all your answers guys i know i shou...

In [4]:
Data.label.value_counts()

label
1    43910
0    39538
Name: count, dtype: int64

In [5]:
Data.describe()

              label
count  83448.000000
mean       0.526196
std        0.499316
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

### Using Stop word and lemmanization

In [6]:
import spacy

In [7]:
nlp = spacy.load("en_core_web_sm")

In [ ]:
def clean_text_spacy(text):
    doc = nlp(text)
    # Remove stopwords, punctuation, and keep only alphabetic tokens
    tokens = [token.lemma_ for token in doc if not token.is_stop ]
    return " ".join(tokens)

Data['clean_text'] = Data['text'].apply(clean_text_spacy)
Data.head()

### Building Model

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
X = Data.drop(columns=['label','text'])
y = Data['label']

In [ ]:
X_train,X_test, y_train,y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [ ]:
clf = Pipeline([
         ('vectorizer_bow', CountVectorizer(ngram_range = (1,2))),
         ('KNN', KNeighborsClassifier())
])

In [ ]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
clf.fit(X_train.squeeze(), y_train)

In [ ]:
y_pred = clf.predict(X_test.squeeze())

In [ ]:
X_test.shape

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns
plt.figure(figsize=(10,7))
sns.heatmap(cm, annot=True , fmt='d')
plt.xlabel ('prediction')
plt.ylabel ('Truth')

In [ ]:
vectorizer = clf.named_steps['vectorizer_bow']
spam_words = vectorizer.get_feature_names_out()
print(spam_words[:50])

In [ ]:
import joblib

In [ ]:
joblib.dump (clf, 'model.pkl')

In [ ]:
model = joblib.load('model.pkl')